Datasets
vis_des/data
vis_des/runs
vis_des/__pycache__
vis_des/vgg16_netvlad_checkpoint
torch_tem_cuda/Summaries
torch_tem_cuda/Pics
torch_tem_cuda/Checkpoints
torch_tem_cuda/__pycache__
*.pyc
__pycache__
plot
scale_ablation/eval_results_minimal
scale_ablation/results